@using WebLibrary.Utils
@model List<Books>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Users> list = ViewBag.UsersReadThisBook;
}

@Scripts.Render("~/scripts/jquery-3.4.1.min.js")
<script>
    $(document).ready(function () {
        //$('tr').on("click", function (e) {    //криво работ., блокир. др. ссылки
            //var id = $(this).children(':first').text();

        $('.read').on("click", function (e) {   //без хелперов
            var id = $(this).parent().parent().children(':first').text();
            e.preventDefault();
            $.ajax({
                url: '/Book/_UsersReadThisBook',
                method: 'GET',
                data: { id: id },
                success: function (data) {
                    $('#myResult').html(data)
                },
                error: function (e) {
                    console.log("error")
                }
            });
            @*$('#myResult').load('@Url.Action("_UsersReadThisBook", "Book")?id='+id)*@
        });
    })
</script>
<h2>Книги</h2>
<table class="table table-striped table-hover" ">
    <thead>        
        <tr>
            <th>Индекс</th>
            <th>Название</th>
            <th>Жанр</th>
            <th>Автор</th>
            <th>Цена</th>
            <th>Количество страниц</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Title</td>
                <td>@item.Genres.Name</td>
                <td>@item.Authors.LastName</td>
                <td>@item.Price</td>
                <td>@item.Pages</td>
                <td><a href="#" class="read">Прочитавшие</a></td>
                <td>|</td>
                <td>@Html.ActionLink("Редактировать", "Edit", new { id = item.Id })
                <td>|</td>
                <td>@Html.ActionLink("Удалить", "Delete", new { id = item.Id })</td>
            </tr>

        }
    </tbody>
</table>

@*@Html.CreateTableList(Model, ".table table-striped")*@    
<br />

@*вар.1*@
@*@{
    if (list != null)
    {
        @Html.Partial("Partial/_UsersReadThisBook", list)
    }
}*@
<div id="myResult"></div>
<br />
<b>@Html.ActionLink("Добавить книгу", "Create")</b>
