@using WebLibrary.Utils
@model List<Books>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Users> list = ViewBag.UsersReadThisBook;
}
<script>
    $(document).ready(function () {
            //----------2)клик по строке------------
        $('.myrow').on("click", function (e) {    //работ. (исправл.)
            e.stopPropagation();
            var id = $(this).children(':first').text();
            $.ajax({
                url: '/Book/UsersReadThisBook',
                method: 'GET',
                data: { id: id },
                success: function (data) {
                    $('#myResult').html(data)
                },
                error: function (e) {
                    console.log("error")
                }
            });
        });
        //------------to PreCreate (No ViewBag - No SelectList!) -------------------------------
        $('#createBookLink').on('click', function (e) {
            LoadAuthorsGenres(e, false)
        });
        $('#editBookLink').click((e) => LoadAuthorsGenres(e))
        //----------------------------------------------------------------
        function LoadAuthorsGenres(e, flag) {
            e.preventDefault()
            console.log(flag)
            console.log("PreCreate Book!")
            var data = $('#tdItemId').html()
            //console.log(data)
            $.ajax({
                method: "GET",
                url: "/Book/PreCreate/",
                data: { id:data },
                success: function (data) {
                    console.log(data)
                    //var result = JSON.parse(data);
                    //console.log(result)

                    $(data).each(function (i, item) {

                        if (item["FirstName"] != undefined) {
                            var author = new Author(item["Id"], item["FirstName"], item["LastName"])
                            authors.push(author)

                        }
                        if (item["Name"] != undefined) {
                            var genre = new Genre(item["Id"], item["Name"])
                            genres.push(genre)
                        }
                        //if (item.id != undefined)
                        //    book = { id: item.id }  
                        //if (item.title != undefined) 
                        //    book.title = item.title                         
                        //if (item.pages != undefined)
                        //    book.pages = item.pages
                        //if (item.price != undefined)
                        //    book.price = item.price
                    })
                    localStorage.clear();
                    localStorage.setItem("authors", JSON.stringify(authors));
                    localStorage.setItem("genres", JSON.stringify(genres));
                    //if (book != null && book != undefined && flag == undefined) 
                    //    localStorage.setItem("book", JSON.stringify(book))
                                        
                    $(location).attr('href', '/Book/Create')    //to Create
                },
                error: function (xhr, status, p3) {
                    alert(xhr.responseText);
                }
            })
        }
        //------------------------------------------------------------
        var authors = []
        var genres = []
        var book;
        class Author {
            constructor(Id, FirstName, LastName) {
                this.Id = Id, this.FirstName = FirstName, this.LastName = LastName
            }
        }
        class Genre {
            constructor(Id, Name) {
                this.Id = Id, this.Name = Name
            }
        }
    })
</script>

<h2>Книги</h2>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Индекс</th>
            <th>Название</th>
            <th>Изображение</th>
            <th>Жанр</th>
            <th>Автор</th>
            <th>Цена</th>
            <th>Кол. стр.</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
        <tr class="myrow">
            <td id="tdItemId">@item.Id</td>
            <td>@item.Title</td>
            @{
                if (item.Images != null) {
                    <td>
                        @Html.Raw("<img style='width:80px; height:60px;' src=\"data:image/jpeg;base64,"
                                                + Convert.ToBase64String(item.Images.ImageData) + "\" />")
                    </td>
                }
            }

            <td>@item.Genres.Name</td>
            <td>@item.Authors.LastName</td>
            <td>@item.Price</td>
            <td>@item.Pages</td>
            <td>|</td>
            
            <td>@Html.ActionLink("Редактировать", "Create", new { id = item.Id, title = item.Title, pages = item.Pages, price = item.Price })
            <td>@*@Html.ActionLink("Редактировать", "PreCreate", new { id = item.Id }, new { id = "editBookLink" })*@

            <td>|</td>
            <td>@Html.ActionLink("Удалить", "Delete", new { id = item.Id })</td>
        </tr>

        }
    </tbody>
</table>

@*@Html.CreateTableList(Model, ".table table-striped")*@
<br />
<div id="myResult"></div>
<div style="display:flex; text-align:center">

    <b class="col-md-3">@Html.ActionLink("Добавить книгу", "PreCreate", null, new { id = "createBookLink", @class = "btn btn-primary" })</b>
    <b class="col-md-3">@Html.ActionLink("Выбор книги по параметрам", "SurveyPage", null, new { id = "surveyBookLink", @class = "btn btn-info" })</b>

</div>