@model WebLibrary.Books

@{
    ViewBag.Title = "SurveyPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Genres> genres = ViewBag.GenreList;
}
<script>
    $(document).ready(function () {        
        //------send to Book/Survey-------------------
        $('#surveyDiv').hide();
        var myForm = document.forms[0];
        $('input[type=submit]').on('click', function (e) {
            $(this).attr('disabled', 'disabled');
            $(myForm).triggerHandler('submit');
        });
        $(myForm).on('submit', function (e) {
            e.preventDefault();
            $.ajax({
                //dataType: "json",
                method: "POST",
                url: "/Book/SurveyPage",
                data: $(myForm).serialize(),
                success: function (data) {
                    $('input[type=submit]').attr('disabled', false);
                    $('#surveyDiv').show();
                    //console.log(data)
                    var obj = JSON.parse(data);
                    console.log(obj)
                    if ($(obj).length > 0) {
                        $(obj).each(function (i, item) {
                            var newRaw = $('<tr></tr>');

                            var title = item["Item1"]["Title"];
                            var td3 = $('<td></td>')
                            $(td3).html(title)
                            $(newRaw).append(td3)

                            var author = item["Item1"]["Authors"]["LastName"];
                            var td1 = $('<td></td>')
                            $(td1).html(author)
                            $(newRaw).append(td1)

                            var genre = item["Item1"]["Genres"]["Name"];
                            var td2 = $('<td></td>')
                            $(td2).html(genre)
                            $(newRaw).append(td2)

                            var image = item["Item2"];
                            var td6 = $('<td></td>')
                            $(td6).html("<img style='width:80px; height:60px;' src=\"data:image/jpeg;base64," + image + "\" />")
                            $(newRaw).append(td6)

                            var price = item["Item1"]["Price"];
                            var td4 = $('<td></td>')
                            $(td4).html(price)
                            $(newRaw).append(td4)

                            var pages = item["Item1"]["Pages"];
                            var td5 = $('<td></td>')
                            $(td5).html(pages)
                            $(newRaw).append(td5)

                            
                            $('#tbody').append(newRaw)
                        });
                    }
                    else {
                        alert("Извините. У нас такой книги нет")
                    }                    
                },
                error: function (xhr, error) {
                    alert(xhr.status + "; " + error)
                }
            })
        });
    })

</script>
<h2>SurveyPage</h2>
<h3>Выберите книгу по категориям</h3>

@using (Ajax.BeginForm("SurveyPage", new AjaxOptions
{
    UpdateTargetId = "surveyDiv",
    HttpMethod = "Post",
    Url = "/Book/SurveyPage"
}))
{
    <div style="display:flex; flex-direction:column">
        <div class="form-group">
            @Html.Label("Author", new { @class = "control-label col-md-2" })
            @Html.DropDownListFor(model => model.AuthorsId, ViewBag.AuthorList as SelectList, new { @class = "form-control col-md-10" })
        </div>

        <div class="form-group">
            @Html.Label("Genre", new { @class = "control-label col-md-2" })
            <table class="table table-borderless" style="width:30%">
                @foreach (var item in genres)
                {
                    <tr>
                        <td>@Html.Label(@item.Name, new { @class = "form-check-label" })</td>
                        <td> @Html.RadioButton("Genres", item.Id, new { @class = "form-check-input", id = item.Id })</td>
                    </tr>
                }
            </table>
        </div>

        <div class="form-group">
            @Html.Label("С картинками", new { @class = "form-check-label" })
            @Html.CheckBox("IsImage", false)
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Title, "Введите название книги")
            @Html.TextBoxFor(m => m.Title)
        </div>
    </div>
    <input type="submit" value="Send" class="btn btn-primary" />
}
<br />

<table id="surveyDiv" class="table table-borderless">
    <thead>
        <tr>
            <th>Наименование</th>
            <th>Автор</th>
            <th>Жанр</th>
            <th>Изображение</th>
            <th>Цена</th>
            <th>Кол-во стр.</th>
        </tr>
        
    </thead>
    <tbody id="tbody">
        
    </tbody>
</table>
