@model List<WebLibrary.Users>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<h3>Список пользователей</h3>
<table class="table table-striped">
    <tr>
        <th>ID</th>
        <th>Имя</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.UserName</td>
            <td>
                @Html.ActionLink("Редактировать пользователя", "Edit", new { id = item.Id })
            </td>
            <td>
                @Html.ActionLink("Удалить пользователя", "Delete", new { id = item.Id })
            </td>
        </tr>
    }
</table>
@Html.ActionLink("Добавить пользователя", "Create")
